.arreglo {
  padding-top: 40rem;
  opacity: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: unset;
    border: none;
    border-bottom: 1px solid #7b8b9b;
    width: 10rem;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #7b8b9b;
}

hr { border: none; height: 10px; /* Establece el color del hr */ color: #333; /* Antiguos IE */ background-color: #333; /* Navegadores Modernos */ }
