@media (max-width: 480px) { /* Cambia 768px por el tamaño deseado */
    .logo { 
        display: none; /* Oculta el elemento */
    }
}

.offcanvas {
    --bs-offcanvas-width: 300px; /* Ajusta el ancho como prefieras */
}


.rubik-titulo {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-texto {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}