.form-inputs{
    position:relative;
}
.form-inputs .form-control{
    height:45px; 
    width: 400px;
}

.form-inputs i{
    position:absolute;
    right:5px;
    top:11px;
}

.btn-outline-primary .btn-link {
    color: inherit;
    text-decoration: none;
}

.fondo {
  background-color: #F7F2FF;
}
