@media (max-width: 480px) { /* Cambia 768px por el tamaño deseado */
    .logo { 
        display: none; /* Oculta el elemento */
    }
}

.offcanvas {
    --bs-offcanvas-width: 300px; /* Ajusta el ancho  */
}

.fondo {
  background-color: #F7F2FF;
}

.rubik-titulo {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-texto {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numerito {
    -moz-appearance: textfield;
    appearance: unset;
    border: none;
    border-bottom: 2px solid #7b8b9b;
    width: 10rem;
    background: none;
    outline: none;
    transition: border-bottom-color 1s;
    -webkit-transition: border-bottom-color 1s;
    -moz-transition: border-bottom-color 1s;
    -ms-transition: border-bottom-color 1s;
    -o-transition: border-bottom-color 1s;
    font-family: "Rubik", sans-serif;
    height: 33px;
}


.numerito:focus {
  border-bottom-color:#0b58d7;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #7b8b9b;
  background: none;
  outline: none;
}

textarea:focus{
  border-bottom-color:#0b58d7;

}

input[type="time"] {
  -moz-appearance: textfield;
  appearance: unset;
  border: none;
  border-bottom: 2px solid #7b8b9b;
  width: 4.5rem;
  background: none;
  outline: none;
  transition: border-bottom-color 1s;
  -webkit-transition: border-bottom-color 1s;
  -moz-transition: border-bottom-color 1s;
  -ms-transition: border-bottom-color 1s;
  -o-transition: border-bottom-color 1s;
  font-family: "Rubik", sans-serif;
  height: 33px;
}

input[type="time"]:focus {
  border-bottom-color: #0b58d7;
}

.tamano-numero {
  max-width: 100px;
  text-align: center;
}



textarea {
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #7b8b9b;
  transition: all 0.3s ease;
  font-family: "Rubik", sans-serif;
  
  min-height: 33px;
  height: 33px; /* Altura inicial explícita */
  width: 200px; /* Ajusta este valor según necesites */
  overflow: hidden;
  resize: none;
  box-sizing: border-box;
  padding: 5px 0; /* Añade un poco de padding vertical */
}

/* Asegura que el placeholder se vea completo */
textarea::placeholder {
  white-space: nowrap; /* Evita que el placeholder se rompa en múltiples líneas */
  overflow: visible; /* Permite que el placeholder sea visible completamente */
}
textarea::-webkit-scrollbar{
  width: 0;
}



.especie {
  margin-top: 3rem; /* 3rem son 48px, faltan 2 px*/
}

.hijo {
  margin: 0 auto;
}

/* ----------------------------------- Estanque */
.card_color_est {
  background-color: #fafff2 !important;  
}
/* ----------------------------------- Corta Pedicelo */
.card_color_cor {
  background-color: #f0ffd8 !important;  
}
/* ----------------------------------- Retorno */
.card_color_ret {
  background-color: #ecffce !important;  
}

.card-header {
  text-align: center;
}

.card-body.guardados {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #fafff2   #f2fffa   #fff2ff */