<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="SectorToast">
        <div class="toast-header">
            <strong class="me-auto">Validación</strong>
            <small>Ahora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
        </div>
        <div class="toast-body">
          <!-- Mensaje de Js ( js/localstorage.js ) -->
        </div>
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="validationToast">
      <div class="toast-header">
          <strong class="me-auto">Validación</strong>
          <small>Ahora</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
      </div>
      <div class="toast-body">
        <!-- Mensaje de Js ( js/localstorage.js ) -->
      </div>
    </div>
  
    
</div>